<html>
  <head></head>
  <body>
	<form method="post">
	  <input type="text" name="userName" id="userName" placeholder="Login"/>
	  <input type="password" name="password" id="password" placeholder="Password"/>
	  <input type="submit" title="submit"/>
	  
	  <%=message%>
	</form>
  </body>
</html>